/***************
    Nav List
***************/
.table-of-contents {
  &.fixed {
      position: fixed;
    }
  &.section{
    padding-top: 0;
    padding-bottom: 0;
  }
  a {
    display: inline-block;
    font-weight: 300;
    color: #FFF;
    padding-left: 30px 16px;
    height: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .4;
    display: inline-block;

    &:hover {
      color: #FFF;
    }
    &.active {
      border-bottom: 2px solid #FFF;
    }
  }
}
