@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700');
// @import 'materialize.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

ul{
  list-style: none;
}
